.welcomeContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: welcomeTransition 3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes welcomeTransition {
  0% {
    visibility: visible;
    background-color: paleturquoise;
  }
  20% {
    visibility: visible;
    background-color: palegoldenrod;
  }
  40% {
    visibility: visible;
    background-color: palevioletred;
  }
  60% {
    visibility: visible;
    background-color: palegreen;
  }
  100% {
    visibility: hidden;
  }
}

.welcomeText {
}
